.contact-us .contact-form .cover > span input {
    background: none;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
}

.contact-us .contact-form .cover span:last-child input {
    margin: 0;
}

.contact-us .contact-form .cover > span {
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    float: left;
    font-family: "Lato-light";
    margin: 0 3.6% 30px 0;
    padding: 10px 10px 10px 15px;
    width: 22.25%;
}

.contact-us .contact-form .cover > span:last-child {
    margin: 0 0 30px;
}
/*
.sign-up div.sign-up-form input {
    width: 37.4%;
}

div.sign-up div.sign-up-form button[type='submit'] {
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    background-color: #03a9f4;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    width: 141px;
    color: white;
    cursor: pointer;
    float: left;
    padding: 10px 10px 10px 20px;
    margin: 0;
    font-family: "Lato-regular";
    font-size: 14px;
    outline: medium none;
    resize: none;
    vertical-align: middle;
}

.sign-up div.sign-up-form input:last-child {
    margin: 0 5% 30px 0;
}

.sign-up div.sign-up-form button[type='submit']:hover {
    background-color: #223347;
}
*/

div.sign-up div.sign-up-form input[type='button'] {
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    background-color: #03a9f4;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    width: 141px;
    color: white;
    cursor: pointer;
    float: left;
    padding: 10px 10px 10px 20px;
    margin: 0;
    font-family: "Lato-regular";
    font-size: 14px;
    outline: medium none;
    resize: none;
    vertical-align: middle;
}

.pirate_forms_thankyou_wrap {
    color: green;
}


.subitem > input {
    width: 10% !important;
}

.sign-up div.wpcf7-validation-errors {
    border-color: red;
    color: red;
    padding: 16px;
    clear: both;
    max-width: 1035px;
    margin: 15px auto 0;
}

.mc4wp-response {
    color: red;
    width: 100%;
}

.mc4wp-response .mc4wp-error {
    border: 2px solid red;
    color: red;
    display: inline-block;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
}

.sign-up-form .field-email .alert {
    font-weight: normal;
    font-family: "Lato-light";
}

.sign-up .sign-up-form form {
    margin: 0 auto;
    max-width: 1035px;
}

.sign-up-form > .sign-up .container {
   padding: 0;
}

.sign-up-form > .sign-up {
    padding: 0;
}

.sign-up .sign-up-form .mc4wp-form-fields input {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

 .sign-up-form .mc4wp-form-fields > span {
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: left;
    font-family: "Lato-regular";
    width: 22.5%;
    margin: 0 5% 30px 0;
    padding: 10px 10px 10px 20px;
    text-align: left;
}

.sign-up .sign-up-form .mc4wp-form-fields .submit-btn {
    margin: 0 0 0 23px;
    padding: 0;
    border: 0;
    float: right;
    width: 141px;
    display: inline-block;
}
.sign-up .sign-up-form .mc4wp-form-fields .submit-btn input {
    padding: 10px 10px 10px 20px;
}

@media screen and (max-width: 1040px) {

    .sign-up-form .mc4wp-form-fields > span {
        margin: 0 2.3% 30px 0;
    }
}

@media screen and (max-width: 767px) {

    .sign-up .sign-up-form .mc4wp-form-fields .submit-btn {
        position: relative;
        float: none;
        margin: 35px auto 2px auto;
    }

    .sign-up-form .mc4wp-form-fields > span {
        width: 31%;
    }

    .sign-up .sign-up-form input[type='submit'] {
        position: relative;
        left: 0;
        margin: 0;
    }
}

@media screen and (max-width: 479px) {

    .sign-up-form .mc4wp-form-fields > span, .sign-up-form .mc4wp-form-fields > span input {
        width: 100% !important;
        margin-right: 0;
    }

    .contact-us .contact-form .cover span, .sign-up div.sign-up-form input {
        width: 100% !important;
        margin-right: 0;
    }

    .pirate_forms_wrap {
        float: none;
    }

    div.sign-up div.sign-up-form button[type="submit"], .sign-up .sign-up-form .mc4wp-form-fields .submit-btn input {
        float: none;
    }

    div.contact_submit_wrap, .sign-up .sign-up-form .mc4wp-form-fields .submit-btn {
        text-align: center;
    }

}

/* Newsletter form */
.mc4wp-success
{
    display: block !important;
    clear: both !important;
    padding: 16px !important;
    border: solid 1px green !important;
    margin: 15px auto 0 !important;
    max-width: 1035px !important;
}


/**
 * Common
 */
section.container .main p {
    margin-bottom: 20px;
}



/**
 * Table
 */
section.container .main table {
    width: 100%;
    margin: 47px 0 71px;
    text-align: center;
}
section.container .main table td {
    padding: 16px 8px;
    font-family: "Lato-light";
    color: #878787;
}
section.container .main table tr {
    background-color: #f2f2f2;
    cursor: default;
}
section.container .main table tr:nth-of-type(2n) {
    background-color: #fafafa;
}
section.container .main table tr:hover {
    background-color: #c0e9fc;
}
section.container .main table tr:hover td {
    color: #03a9f4;
}

/**
 * blockquote
 */
section.container .main blockquote {
    width: 79%;
    padding: 20px 0;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
section.container .main blockquote:after {
    content: '';
    clear: both;
    display: block;
    width: 22px;
    height: 22px;
    border-top: 2px solid #bfbfbf;
    border-right: 2px solid #bfbfbf;
    position: absolute;
    top: -2px;
    right: -2px;
}
section.container .main blockquote:before {
    content: '';
    clear: both;
    display: block;
    width: 22px;
    height: 22px;
    border-bottom: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    position: absolute;
    bottom: -2px;
    left: -2px;
}
section.container .main blockquote p {
    margin-bottom: 0;
}


/**
 * LIST
 */
section.container .main ul,
section.container .main ol {
    margin-bottom: 27px;
}
section.container .main ul li {
    /*margin-bottom: 20px;*/
    position: relative;
    text-indent: 20px;
    line-height: 1.6;
    color: #595959;
}
section.container .main ul li:after {
    position: absolute;
    top: 10px;
    left: 2px;
    content: '';
    clear: both;
    display: block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #03a9f4;
}
section.container .main ol {
    margin-top: 0;
    padding: 0 0 0 20px;
}
section.container .main ol li {
    margin-bottom: 20px;
    position: relative;
    text-indent: 5px;
    line-height: 1.6;
    color: #595959;
}