/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 */
section.container .main address {
	font-style: italic;
	margin: 0 0 28px;
}

section.container .main pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	line-height: 1.3125;
	margin: 0 0 28px;
	max-width: 100%;
	overflow: auto;
	padding: 14px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

section.container .main abbr[title] {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

section.container .main mark,
section.container .main ins {
	background: #007acc;
	color: #fff;
	padding: 2px 4px;
	text-decoration: none;
}

section.container .main sup,
section.container .main sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

section.container .main sub {
	top: -6px;
}

section.container .main sup {
	bottom: -3px;
}

section.container .main small {
	font-size: 80%;
}

section.container .main big {
	font-size: 125%;
}


/**
 * 3.0 - Elements
 */
section.container .main img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

section.container .main a img {
	display: block;
}

section.container .main figure {
	margin: 0;
}

section.container .main del {
	opacity: 0.8;
}

section.container .main fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 28px;
	padding: 14px;
}


/**
 * 4.0 - Alignment
 */
section.container .main .alignleft {
	float: left;
	margin: 6px 90px 35px 0;
}
section.container .main .alignright {
	float: right;
	margin: 6px 0 35px 90px;
}
section.container .main .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 28px;
}