.blog-dot .prev,
.project-dot .prev {
    float: left !important;
}

.blog-dot ul li, .project-dot ul li {
    float: left !important;
    margin-left: 8px;
}
.blog-dot ul li a.current {
    display: inline-block;
    padding: 7px 12px;
    background-color: #03a9f4;
    color: white;
}
div.socials a {
    text-decoration: none;
}
.yarpp-related a {
    font-weight: normal !important;
}
.socials {
    float: right !important;
}
.wpusb {
    font-size: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.box-image {
    width: 100%;
}
.solutions-general .solutions-box .box-image {
    width: auto;
    display: inline-block;
}


/*Artem's code*/
.solutions .cover {
    margin-bottom: 10px !important;
}
.about .container .cover {
    margin-bottom: 20px !important;
}
a.read-more {
    margin-bottom: 20px !important;
}
.about .container > p {
    margin-bottom: 50px !important;
}
.solutions-general h2 {
    margin-bottom: 20px !important;
}
.publication-cover .socials {
    margin-right: 100px;
}
.blog-published, .project-published {
    margin-top: 12px!important;
}
.cover-about .description-about {
    text-align: left !important;
}

/*MailChimp Form*/
.sign-up .sign-up-form {
    max-width: none !important;
}
.mc4wp-success p {
    color: green;
    font-weight: bold;
}
